<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/722d8b2a63.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <link rel="stylesheet" href="details.css" />
  </head>

  <body>
    <header class="header">
      <div class="header-logo__container">
        <a href="/" title="Retour" class="header__back">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <a class="header__logo" href="/">
          <img
            class="header__logo-img"
            src="/images/logo/ohmyfood.png"
            alt="logo"
          />
        </a>
      </div>
      <img
        class="header-card__img"
        src="/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
        alt="image"
      />
    </header>

    <main class="main">
      <div class="main-container">
        <section class="main-hero">
          <h1>Le delice des sens</h1>
          <div class="main-hero__icon">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-regular fa-heart"></i>
          </div>
        </section>
        <section class="foods">
          <article class="foods-articles">
            <h3 class="foods-articles-title">Entrées</h3>
            <ul class="foods-article">
              <li class="foods-article__items entree">
                <div class="entree_menu">
                  <h3 class="menu-title">Tartare de thon</h3>
                  <p class="entree_menu description">Assaisonneé au yuzu</p>
                </div>
                <div class="foods-article__items-price">
                  <span>25€</span>
                </div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
              <li class="foods-article__items entree">
                <div class="entree_menu">
                  <h3 class="menu-title">Bouchée de homard croustillant</h3>
                  <p class="entree_menu description">
                    Et sa farandole de petits légumes
                  </p>
                </div>
                <div class="foods-article__items-price"><span>35€</span></div>
                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>

              <li class="foods-article__items entree">
                <div class="entree_menu">
                  <h3 class="menu-title">Velouté de cèpes</h3>
                  <p class="entree_menu description">
                    Aux truffe
                  </p>
                </div>
                <div class="foods-article__items-price"><span>20€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
            </ul>
          </article>
          <article class="foods-articles">
            <h3 class="foods-articles-title">Plats</h3>
            <ul class="foods-article">
              <li class="foods-article__items plats">
                <div class="plats_menu">
                  <h3 class="menu-title">Poulet rôti aux herbes de Provence</h3>
                  <p class="plats_menu description">
                    Et sa crème de truffe
                  </p>
                </div>
                <div class="foods-article__items-price"><span>40€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
              <li class="foods-article__items plats">
                <div class="plats_menu">
                  <h3 class="menu-title">Langouste rôtie</h3>
                  <p class="plats_menu description">
                    Et ses légumes de saison
                  </p>
                </div>
                <div class="foods-article__items-price"><span>35€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
              <li class="foods-article__items plats">
                <div class="plats_menu">
                  <h3 class="menu-title">Côte de bœuf Angus</h3>
                  <p class="plats_menu description">Et sa puree de panais</p>
                </div>
                <div class="foods-article__items-price"><span>44€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
            </ul>
          </article>
          <article class="foods-articles">
            <h3 class="foods-articles-title">Desserts</h3>
            <ul class="foods-article">
              <li class="foods-article__items desserts">
                <div class="desserts_menu">
                  <h3 class="menu-title">Farandole de desserts</h3>
                  <p class="desserts_menu description">
                    Du chef
                  </p>
                </div>
                <div class="foods-article__items-price"><span>18€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
              <li class="foods-article__items desserts">
                <div class="desserts_menu">
                  <h3 class="menu-title">Crème brulee</h3>
                  <p class="desserts_menu description">Revisitée</p>
                </div>
                <div class="foods-article__items-price"><span>18€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
              <li class="foods-article__items desserts">
                <div class="desserts_menu">
                  <h3 class="menu-title">Tiramisu</h3>
                  <p class="desserts_menu description">A la noisette</p>
                </div>
                <div class="foods-article__items-price"><span>23€</span></div>

                <div class="foods-article__items-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </div>
              </li>
            </ul>
          </article>
        </section>
        <div class="main-btn">
          <button type="button" class="btn">Commander</button>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__content">
        <div class="footer__content-i first">
          <i class="fa-solid fa-utensils"></i>
          <p>proposer un restaurant</p>
        </div>
        <div class="footer__content-i second">
          <i class="fa-solid fa-handshake"></i>
          <p>devenir partenaire</p>
        </div>
        <p class="third">Mentions légales</p>
        <p class="fourth">contact</p>
        <h3 class="five">ohmyfood</h3>
      </div>
    </footer>

  </body>
  
</html>
